.TangyuComponentProject/Source/bin
.TangyuComponentProject/Source/gen
.TangyuComponentProject/Source/libs
.TangyuComponentProject/Test/bin
.TangyuComponentProject/Test/gen
.TangyuComponentProject/Test/libs
.TangyuComponentProject/build
.TangyuComponentProject/out

*.idea/workspace*

*~

*.DS_Stroe*
