bin
gen
out
build
apk
doc
.idea

script/backup_idea_config/*

*/*.DS_Store
*.settings
*.iml

.classpath
.project
local.properties
project.properties
proguard-project.txt
lint.xml
test/.project
ommit.log
