<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tangyu.component"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity android:name=".demo.DemoLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- horizontal list view -->
        <activity
            android:name=".demo.HorizontalListViewDemo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tangyu.component.demo.action"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.HorizontalListViewDemo4Grid"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tangyu.component.demo.action"/>
            </intent-filter>
        </activity>

        <!-- remind service -->
        <activity android:name=".demo.service.remind.ActDemoRemindService"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.tangyu.component.demo.action"/>
            </intent-filter>
        </activity>
        <service android:name=".demo.service.remind.TYRemindServiceImpl">
        </service>
        <receiver android:name=".demo.service.remind.TYRemindReceiver"
            android:process=":receiver"
            >
            <intent-filter >
                <action android:name="com.tangyu.app.WAKEUP.Test" />
            </intent-filter>
        </receiver>

        <!-- sync service -->
        <activity android:name=".demo.service.sync.ActDemoSyncService">
            <intent-filter>
                <action android:name="com.tangyu.component.demo.action"/>
            </intent-filter>
        </activity>
        <service android:name=".demo.service.sync.SyncService" />
        <receiver android:name=".demo.service.sync.SyncReceiver">
            <intent-filter>
                <action android:name="com.tangyu.component.service.sync.TYSyncService.RESPONSE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
